@import 'libs/bootstrap-reboot.min';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}


@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/_blockPromo';   
@import 'blocks/_products';