.contacts {
    min-height: 900px;
    &__block {
        margin:  150px 0 0 350px;
        display: grid;
        height: 450px;
        grid-template-columns: repeat(2, minmax(30px, 195px));
        grid-template-rows: repeat(4, 20px);
        row-gap: 43px;
    }
    &__radius {
        position: absolute;
        width: 471px;
        height: 450px;
        z-index: -1;
        left: -48px;
        top: 212px;
        background: $Gray-color;
        border-radius: 100%;
    }
    &__name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $Brown-color;
    }
    &__map {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 1122px;
        height: 526px;
    }
    &__subtitle {
        color: #868fa0;
        font-size: 15px;
    }
}