.news {
    position: relative;
    min-width: 1300px;
    height: 600px;
    margin-top: 200px;
    &__item {
        a {
            display: block;
            width: 225px;
            height: 225px;
            }
    }
    &__title {
        margin: 0 0 0 90px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: $Brown-color;
    }
    &__row {
        display: grid;
        position: relative;
        margin: 0 auto;
        grid-template-columns: repeat(4, 225px);
        justify-content: center;
        column-gap: 60px;
        text-align: center;
    }
}