.promo {
    &__logo{
        position: relative;
        margin: 23px 0 0 63px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-template-rows: 170px;
        justify-items: center;
        align-items: center;
        a {
            position: relative;
            font-weight: 400;
            font-size: 20px;
            color: $Brown-color;
            text-decoration: none;
            border: none;
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 0%;
                height: 1px;
                background-color: #BABB9F;
                margin-top: 4px;
                transition: 0.4s;
                }
            &:hover {
                &:after {
                    width: 100%;
                    background-color: #BABB9F;
                    transition: 0.4s;
                }
                }
        }
    }
    &__home {
        grid-column: 5/6;
    }
    &__catalog {
        grid-column: 6/7;
    }
    &__delivery {
        grid-column: 7/8;
    }
    &__contacts {
        grid-column: 8/9;
    }
    &__cart {
        grid-column: 9/10;
    }
    &__price {
        grid-column: 10/11;
    }
    &__search {
        display: block;
        grid-column: 11/12;
        margin: 0 40px;
        cursor: pointer;
    }
    &__basket {
        display: block;
        margin-right: 63px;
        grid-column: 12/13;
        cursor: pointer;
    }
}